<h3 class="my-5 text-center">Login</h3>
<div class="container-fluid ">
	
 <form action="/login" method="post">
   <div class="form">
     <div class="form-group col-md-6">
       <label for="">User Name</label>
       <input type="text" name="username" class="form-control" id="" >
     </div>
     <div class="form-group col-md-6">
       <label for="">Password</label>
       <input type="password" name="password" class="form-control" id="" placeholder="Password">
     </div>
     </div>
     <div class="container">
   <button type="submit" class=" btn btn-outline-success ">Login</button>
       
     </div>
   </div>
   
 </form>
</div>