<%- include('main') -%>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
            
                
                <h3>Become a member</h3>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="memberPassword">Member Code (it's "member")</label>
                        <input class="form-control" name="memberPassword" type="text" autocomplete="off" >
                    </div>
                
                    <input name="admin" type="checkbox" name="adminCheckbox" value="true">
                    <label for="admin">Administrator</label>
                
                    <br>
                    <button class="btn btn-primary">Become Member</button>
                </form>
                <br>
                <p>Not a member? Return <a href="/">Home</a></p>
                
            
        </div>
    </div>
    <div class="row justify-content-center">
</div>