<%- include('main') -%>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                        <h3>Welcome Please enter your message.</h3>
                    <form action="" method="POST" id="messageForm">
                             <div class="form-group">
                                <label for="email">Title</label>
                                <input type="text" name="title" class="form-control w-25">
                              </div>
                        <div class="form-group">
                            <label for="messageBody">Enter Message</label>
                            <br>
                            <textarea rows="4" cols="20" name="message" form="messageForm"></textarea>
                        </div>
                        <button class="btn btn-primary">Post Message</button>
                    </form>
                </div>
            </div>

</div>
</div>
</body>

</html>